<% if defined? @reward.uuid %>
<h1><%= @reward.uuid %></h1>

<%= simple_form_for @reward do |f| %>
  <%= f.input :email %>
  <%= f.submit t('reward.submit'), class: 'button' %>
<% end %>

<% else %>
  <h1>Woops.</h1>
  <p>Something weird happened with the link. If you believe that you shouldn't be seeing this page, email me: bemosior@gmail.com</p>
<% end %>