<h1>Welcome.</h1>
<p>Thanks for taking the survey. Let's clear up a few details:</p>
<ul>
  <li>The survey is 8 questions long and completely anonymous.</li>
  <li>Completion should take about 2 minutes.</li>
  <li>At the end of the survey, you will be given the option to submit your email address for the chance to win a $50 Amazon gift card.
  <li>Your email, if submitted, will not be tied to any survey submission.</li>
  <li>Questions or problems can be directed to bemosior at gmail.com</li>
</ul>

<%= link_to "Let's Get Started", new_survey_path, class: 'button' %>